<div id="splash">
  <span class="lrg">Keep it simple with the <br />Social Calendar Manager.</span>
  <ul>
    <li>Enable your devices to publish your events easily to the web.</li>
    <li>Share events easily with other calendars and social sites.</li>
    <li>Allow your apps to display specific with with our api.</li>
  </ul>
</div>