<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Attention!</h2>
    <p>If you did not attempt to reset your password on cirrusera.com then please disregard this message.</p>
    <p>If so then <a href="#">click here</a> to reset your password.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>