<article class="content_holder">
	<section>
		<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
	</section>
	<section>
		<h2>Edit Contact</h2>
	</section>	
	<section>
	<%= render partial: 'editForm', :locals => { :object => @contact } %>				
	</section>
</article>
<script type="text/javascript">
$(function() {
	$('input').bind('keypress', function (event) {
	    var regex = new RegExp("^[a-zA-Z0-9 @ . _ - ]+$");
	    var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
	    if (!regex.test(key)) {
	       event.preventDefault();
	       return false;
	    }
	});	
});
</script>	