                <article id="dashboard_maincontent">
                	<section>
                		<h2>Attention</h2>
					  <% if !flash[:notice].blank? %>
					  <div class="notice">
					    <%= flash[:notice] %>
					  </div>
					  <% end %> 

					  <%= debug(@user_data) %>               		
                	</section>
                </article>	