				<article class="content_holder delete">
					<section>
						<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
					</section>

					<section>
						<h2>Delete Item</h2>
						<%= form_for(:subject, :url => {:action => 'destroy', :id => @event.id}) do |f| %>
							<p>Are you sure you want to permanently delete this item?</p>
							<h3><u><%= @event.item_title %></u></h3>
							<span class="save_btn custom_btn">
								<%= submit_tag("Delete item") %>
							</span>	
						<% end %>						
					</section>
				</article>	