				<article class="content_holder delete">
					<section>
						<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
					</section>

					<section>
						<h2>Delete Subject</h2>
						<%= form_for(:subject, :url => {:action => 'destroy', :id => @event.id}) do |f| %>
							<p>Are you sure you want to permanently delete this item?</p>
							<p class="reference-name"><%= @event.item_title %></p>
							<span class="form_btn custom_btn">
								<%= submit_tag("Delete Subject") %>
							</span>	
						<% end %>						
					</section>
				</article>	