<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>	

<div class="event new">
	<h2>Calendar Item</h2>

	<%= form_for(:event, :url => {:action => 'update', :id => @event.id}) do |f| %>



		<div class="form-buttons">
			<%= submit_tag("Update Event") %>
		</div>	

	<% end %>
</div>	