                <article class="new_layout">
					<section>
						<%= link_to("<< Back to List", {:action => 'list'}, :class => 'main_btn custom_btn') %>
					</section>

                	<section id="article_header">             		
						<h2>Create New Item</h2>						
                	</section>     

					<%= render :partial => 'itemEditor', :layout => false %>
						
				</article>
				<script type="text/javascript">
  				$(function() {
  					$("#event_type").select2({
						placeholder : "Type of event",
						allowClear : true  						
  					});	
  				});
				</script>				