<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>	
                <article class="new_layout">
                	<section id="article_header">             		
						<h2>Create New Item</h2>						
                	</section>                	
					<%= render :partial => 'itemEditor', :layout => false %>	
				</article>