				<article class="content_holder">
					<section>
						<%= link_to("&laquo; Back to List", {:action => 'list'}, :class => 'main_btn') %>
					</section>

					<section>
						<h2><%= @event.item_title %></h2>
						<%= @event.item_description %>
					</section>	

					<section>
						<br />
						<div id="map-canvas"></div>
					</section>
		
					<section>
						<h3>Special Note</h3>
						<% if !@event.item_special_note.blank? %>
						<%= @event.item_special_note %>
						<% else %>
						<p>No special note.</p>
						<% end %>
					</section>
					
				</article>

<script type="text/javascript">
function initialize() {
	var mapOptions = {
	  zoom: 8,
	  disableDefaultUI: true,      
	  mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);

	 if(navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(function(position) {
	      var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

	      	map.setCenter(pos);

			var markers = [];
			var iterator = 0;
			var neighborhoods = [
  
			];

			drop();
			function drop() {
				for (var i = 0; i < neighborhoods.length; i++) {
				  //setTimeout(function() {
				    addMarker();
				  //}, i * 300);
				}
			}

			function addMarker() {
				markers.push(new google.maps.Marker({
				  position: neighborhoods[iterator],
				  map: map,
				  draggable: false
				  //animation: google.maps.Animation.BOUNCE
				}));
				iterator++;
			} 

	    }, function() {
	      handleNoGeolocation(true);
	    });
	  } else {		  	
	    // Browser doesn't support Geolocation
	    handleNoGeolocation(false);
	  }
}

function handleNoGeolocation(errorFlag) {
	if (errorFlag) {
		var content = 'Error: The Geolocation service failed.';
	} else {
		var content = 'Error: Your browser doesn\'t support geolocation.';
	}

	var options = {
		map: map,
		position: new google.maps.LatLng(60, 105),
		content: content
	};

	var infowindow = new google.maps.InfoWindow(options);
	map.setCenter(options.position);
}    
 
google.maps.event.addDomListener(window, 'load', initialize);
</script>						
