<section id="acc-menu-section">

	<section id="acc-menu-section-nav">
		<h3><a href="#">Dashboard</a></h3>
		<hr />
		<ul>
			<li><a href="#/calendar/usr/">View Calendar</a></li>		
			<li><a href="#/events/usr">Events</a></li>
			<li><a href="#/locations/usr">Locations</a></li>
			<li><a href="#/contacts/usr">Contacts</a></li>
			<li><a href="#/pending/usr">Pending</a></li>
		</ul>
		<hr />
		<ul>	
			<li><a href="#/social/usr/facebook">Post to Facebook</a></li>
			<li><a href="#/social/usr/twitter">Tweet to Twitter</a></li>
			<li><a href="#/social/usr/youtube">Upload to YouTube</a></li>
		</ul>	
	</section>

	<section id="acc-menu-section-mc">
		<h2>Hello World</h2>
	</section>	

</section>