<h3>Sign Up</h3>
<table>
	<thead>
		<tr>
			<th>Already on Cirrus Era? <a href="">Sign in</a></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><input type="text" value="First name" /> &nbsp; <input type="text" value="Last name" /></td>
		</tr>
		<tr>
			<td><input type="text" value="Email" /></td>
		</tr>	
		<tr>
			<td><input type="password" value="Password" /></td>
		</tr>
		<tr>
			<td><input type="phone" value="Optional" /></td>
		</tr>
		<tr>
			<td>Profile photo: <input type="file" /></td>
		</tr>	
		<tr>
			<td>By clicking Join you confirm that you accept our <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a>.</td>
		</tr>							
	</tbody>
	<tfoot>
		<tr>
			<td><input type="submit" value="Join" /></td>
		</tr>
	</tfoot>
</table>