<h3>Sign In</h3>
<table>
  <tr>
    <th>
    	Log In
    	<div>facebook</div>
    </th>
  </tr>
  <tr>
    <td><label for="email">Email:</label><input type="text" value="Email" /></td>
  </tr>
  <tr>
    <td><label for="password">Password:</label><input type="password" value="" /></td>
  </tr>
  <tr>
    <td><a href="#">Sign Up for Cirrus Era</a> or <input type="submit" value="Log In" /></td>
  </tr>    
</table>
